@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--step-13);
  border-left: 2px solid var(--step-30)
}

::-webkit-scrollbar-thumb {
  background-color: var(--step-40);
  border: 1px solid var(--step-60);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--step-50);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

button {
  cursor: pointer;
  align-items: center;
  display: flex;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-button:focus, .util-button:focus {
  outline: none;
  box-shadow: none;
}

.window-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  font-size: 10px;
}