@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.window-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  font-size: 10px;
}